<section id="Contact" class="w-auto  bg-white dark:bg-background rounded-2xl mt-6 p-5 shadow-sectionShadow dark:shadow-dark-sectionShadow">
    <h3 class="text-3xl font-medium mb-4 dark:text-white">Contact</h3>
    
    <div >
        <form action="https://formsubmit.co/alonsochaves25@gmail.com" method="POST">
        
            <label for="name" class="text-primary">Name or company</label> 
            <input required type="text" id="name" name="name" class="rounded-lg w-full h-10 px-4 mt-2  mb-4 dark:bg-background border-b-2 dark:border-b-slate-800  focus:outline-none" placeholder="Juan Perez" style="text-transform: capitalize">
            
            <label for="email" class="text-primary ">Email</label>
            <input required type="text" id="email" name="email" class="rounded-lg w-full h-10 px-4 mt-2 mb-4 dark:bg-background border-b-2 dark:border-b-slate-800  focus:outline-none" placeholder="example@gmail.com">
            
            <label for="message" class="text-primary ">Message</label>
            <textarea required id="message" name="message" class="rounded-lg w-full h-20 px-4 mt-2 mb-4 dark:bg-background border-b-2 dark:border-b-slate-800  focus:outline-none" placeholder="Enter your Message"></textarea>
            
            <div class="flex justify-center mt-5">
                <button class="bg-primary dark:bg-primary-dark px-12 rounded-lg h-10 text-white-text hover:scale-110 transition-transform shadow-dark-sectionShadow">Contact me!</button>
            </div>

            <div class="flex justify-center sm:gap-28 gap-3 mt-4 max-sm:flex-col max-sm:items-center">
                <div class="flex items-center">
                    <img src="../../../public/Assets/icons/mail.svg" alt="Gmail icon">
                    <p class="ml-3 text-slate-700 dark:text-slate-400 text-center">alonsochaves25@gmail.com</p>
                </div>

                <div class="flex items-center sm:w-[250px]">
                    <img src="../../../public/Assets/icons/phone.svg" alt="Gmail icon">
                    <p class="ml-3 text-slate-700 dark:text-slate-400 text-center">+506 8430-1081</p>
                </div>
            </div>
      
        </form>
    </div>
</section>