---
import PlatziCarousel from "../PlatziCarousel.astro";

---

<section id="Technologies" class="w-auto  bg-white dark:bg-background rounded-2xl mt-6 p-5 shadow-sectionShadow dark:shadow-dark-sectionShadow">
    <div>
        <h3 class="text-3xl font-medium mb-4 dark:text-white">Education</h3>
        <h3 class="text-xl font-semibold text-primary ">Bachelor of Science in Computer Systems Engineering (Graduation March 2024)</h3>
        <p class="text-lg mb-5">Fidélitas University, <span class="font-bold">Costa Rica</span></p>
        <img class="h-40 shadow-dark-sectionShadow" src="../../../public/Assets/Logo_Universidad_Fidelitas.jpg" alt="University degree">
    </div>
    <div>
        <h3 class="text-2xl mt-8 font-semibold text-primary ">Platzi</h3>
        <PlatziCarousel/>
    </div>
</section>