---
import PlatziCarousel from "../PlatziCarousel.astro";

---

<section id="Education" class="w-auto  bg-white dark:bg-background rounded-2xl mt-6 p-5 shadow-sectionShadow dark:shadow-dark-sectionShadow">
    <div>
        <h3 class="text-3xl font-medium mb-4 dark:text-white">Education</h3>
        
        <h3 class="text-xl font-semibold text-primary ">Bachelor of Systems Engineering</h3>
        <p class="text-lg mb-5">Fidélitas University, <span class="font-bold">Costa Rica</span></p>
        <img class="w-4/5 mx-auto shadow-dark-sectionShadow max-md:w-full" src="../../Assets/Engineer_Degree_Alonso_Chaves.png" alt="University degree">
        <a href="../../Assets/Engineer_Degree_Alonso_Chaves.pdf" target="_blank" class="inline-flex items-center px-4 py-2 mt-6 mb-8 text-sm font-medium text-gray-900 bg-white-bg border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">View PDF <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg>
        </a>

        <h3 class="text-xl font-semibold text-primary ">C2 English Certificate (Reading and listening)</h3>
        <p class="text-lg mb-5">EF SET, <span class="font-bold">Remote</span></p>
        <img class="w-2/3 mx-auto shadow-dark-sectionShadow max-md:w-full" src="../../Assets/EF-SET-Certificate_Alonso-Chaves-C2.png" alt="University degree">
        <a href="https://cert.efset.org/6hizXB" target="_blank" class="inline-flex items-center px-4 py-2 mt-6 mb-8 text-sm font-medium text-gray-900 bg-white-bg border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">View Full Certificate <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg>
        </a>

    </div>
    <div>
        <h3 class="text-2xl font-semibold text-primary ">Platzi</h3>
        <PlatziCarousel/>
    </div>
</section>