---
import TechLogoSmall from "../TechLogoSmall.astro";

---

<section id="Experience" class="w-auto  bg-white dark:bg-background rounded-2xl mt-6 p-5 shadow-sectionShadow dark:shadow-dark-sectionShadow">
<div>
    <h3 class="text-3xl font-medium mb-4 dark:text-white">Experience</h3>
    <ol class="relative border-s border-gray-400 dark:border-gray-700">                  
        <li class="mb-10 ms-4">
            <div class="absolute w-3 h-3 bg-gray-400 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none  dark:text-gray-500">September 2023 -</time> 
            <time class="mb-1 text-sm font-normal leading-none  dark:text-gray-500">February 2024</time>
            
            <div class="flex items-center  max-[550px]:flex-col max-[550px]:items-start">
                <h3 class="text-xl font-semibold text-primary ">Internship J&G Solutions</h3>
                <div class="flex gap-3 min-[550px]:ml-4 max-[550px]:mt-2">
                    <TechLogoSmall src="../Assets/technologies/html5.svg"/>
                    <TechLogoSmall src="../Assets/technologies/vue.svg"/>
                    <TechLogoSmall src="../Assets/technologies/net.png"/>
                    <TechLogoSmall src="../Assets/technologies/sql.png"/>
                    <TechLogoSmall src="../Assets/technologies/git.svg"/>
                </div>
            </div>
            
            <p class="text-base font-normal dark:text-white-text mb-3">• Complete 100% of the assigned tasks, both FrontEnd and BackEnd in the development of FisioFile, a web application for the administration of physiotherapy clinics.</p>
            <p class="text-base font-normal dark:text-white-text mb-3">• Development of the product landing page using the Astro framework and based on a prototype provided by the design team.</p>
            <p class="text-base font-normal dark:text-white-text mb-3">• Active participation in daily meetings in which we communicate with the status of the project and suggest ideas to expand and improve the project </p>
            <a href="https://fisiofile.com/" target="_blank" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white-bg border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">Visit Fisio File <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
      </svg></a>
        </li>
        <li class="mb-10 ms-4">
            <div class="absolute w-3 h-3 bg-gray-400 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none  dark:text-gray-500">February 2023 -</time>
            <time class="mb-1 text-sm font-normal leading-none  dark:text-gray-500">May 2023</time>
            
            <div class="flex items-center  max-[550px]:flex-col max-[550px]:items-start">
                <h3 class="text-xl font-semibold text-primary">Asociacion Colitas</h3>  
                <div class="flex gap-3 min-[550px]:ml-4 max-[550px]:mt-2">    
                    <TechLogoSmall src="../Assets/technologies/html5.svg"/>
                    <TechLogoSmall src="../Assets/technologies/css.svg"/>
                    <TechLogoSmall src="../Assets/technologies/firebase.svg"/>
                    <TechLogoSmall src="../Assets/technologies/net.png"/>
                    <TechLogoSmall src="../Assets/technologies/git.svg"/>
                </div>
            </div>
            
            <p class="text-base font-normal dark:text-white-text  mb-3">• Organize tasks and meetings with the client to determine their main interests, thus improving the 
                management of adoptions and promoting the visibility of animals through a visually friendly interface.</p>
            <p class="text-base font-normal dark:text-white-text  mb-3">• Coding the necessary logic for a catalog with filter by type, contact of interested parties via email, login, 
                maintenance (CRUD) of pets, email history.
                </p>
            <p class="text-base font-normal dark:text-white-text ">• Implementation of HTML, CSS, .NET, C#, FireBase, GitHub technologies.</p>
            <a href="../../Assets/Guia_Colitas_aplicacion_web.pdf" target="_blank" class="inline-flex items-center px-4 py-2 mt-3 text-sm font-medium text-gray-900 bg-white-bg border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">View Documentation<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus      w-5 h-5 ms-2" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 5l0 14" />
                <path d="M5 12l14 0" />
              </svg></a>
             <p class="mt-2  text-sm text-slate-700 dark:text-slate-400 ">*Due to the client's lack of interest in maintaining  for hosting, the application is not available at this time.*</p>
        </li>
        <li class="ms-4">
            <div class="absolute w-3 h-3 bg-gray-400 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none dark:text-gray-500">May 2022 -</time>
            <time class="mb-1 text-sm font-normal leading-none dark:text-gray-500">April 2023</time>

            <div class="flex items-center  max-[550px]:flex-col max-[550px]:items-start">
                <h3 class="text-xl font-semibold text-primary">Marmat Condominiums</h3>
                <div class="flex gap-3 min-[550px]:ml-4 max-[550px]:mt-2">
                    
                    <TechLogoSmall src="../Assets/technologies/html5.svg"/>
                    <TechLogoSmall src="../Assets/technologies/css.svg"/>
                    <TechLogoSmall src="../Assets/technologies/javascript.svg"/>
                    <TechLogoSmall src="../Assets/technologies/net.png"/>
                    <TechLogoSmall src="../Assets/technologies/azure-devops.png"/>
                </div>
            </div>
                
            <p class="text-base font-normal dark:text-white-text mb-3">• Plan the application development processes including requirements gathering, client meetings, SRUM 
                methodology and client training</p>
                
            <p class="text-base font-normal dark:text-white-text mb-3">• Develop condominium catalog modules, filter by name and location, email contact form, user login 
                with different roles, maintenance (CRUD) tables, reservation of common areas and alerts for 
                condominium residents</p>
            <p class="text-base font-normal dark:text-white-text">• Implementation of HTML, CSS, .NET, C#, SQL, Azure DevOps, API to interact with the database.</p>
            <a href="../../Assets/Marmat_Guía_de_operación.pdf" target="_blank" class="inline-flex items-center px-4 py-2 mt-3 text-sm font-medium text-gray-900 bg-white-bg border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">View Documentation<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus      w-5 h-5 ms-2" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 5l0 14" />
                <path d="M5 12l14 0" />
              </svg></a>
              <p class="mt-2  text-sm text-slate-700 dark:text-slate-400 ">*Due to the client's lack of interest in maintaining  for hosting, the application is not available at this time.*</p>
        </li>
    </ol>    
</div>
</section>