---
import TechLogoSmall from "../TechLogoSmall.astro";

---

<section id="Experience" class="w-auto  bg-white dark:bg-background rounded-2xl mt-6 p-5 shadow-sectionShadow dark:shadow-dark-sectionShadow">
<div>
    <h3 class="text-3xl font-medium mb-4 dark:text-white">Experience</h3>
    <ol class="relative border-s border-gray-400 dark:border-gray-700">                  
        <li class="mb-10 ms-4">
            <div class="absolute w-3 h-3 bg-gray-400 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none  dark:text-gray-500">November 2023 -</time> 
            <time class="mb-1 text-sm font-normal leading-none  dark:text-gray-500">February 2024</time>
            
            <div class="flex items-center  max-[550px]:flex-col max-[550px]:items'left">
                <h3 class="text-xl font-semibold text-primary ">Internship J&G Solutions</h3>
                <div class="flex gap-3">
                    <TechLogoSmall src="../../public/Assets/technologies/html5.svg"/>
                    <TechLogoSmall src="../../public/Assets/technologies/vue.svg"/>
                    <TechLogoSmall src="../../public/Assets/technologies/net.png"/>
                    <TechLogoSmall src="../../public/Assets/technologies/sql.png"/>
                    <TechLogoSmall src="../../public/Assets/technologies/git.svg"/>
                </div>
            </div>
            
            <p class="text-base font-normal dark:text-white-text mb-3">• Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, vero non iusto impedit debitis culpa repellat veritatis dignissimos explicabo et neque quos asperiores natus ipsum maiores! Ipsa voluptatem quisquam pariatur!</p>
            <p class="text-base font-normal dark:text-white-text mb-3">• Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, vero non iusto impedit debitis culpa repellat veritatis dignissimos explicabo et neque </p>
            <p class="text-base font-normal dark:text-white-text mb-3">• Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, vero non iusto impedit debitis culpa repellat veritatis dignissimos explicabo et neque quos asperiores natus ipsum </p>
            <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">Learn more <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
      </svg></a>
        </li>
        <li class="mb-10 ms-4">
            <div class="absolute w-3 h-3 bg-gray-400 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none  dark:text-gray-500">February 2023 -</time>
            <time class="mb-1 text-sm font-normal leading-none  dark:text-gray-500">May 2023</time>
            
            <div class="flex items-center gap-3">
                <h3 class="text-xl font-semibold text-primary">Asociacion Colitas</h3>  
                    <TechLogoSmall src="../../public/Assets/technologies/html5.svg"/>
                    <TechLogoSmall src="../../public/Assets/technologies/css.svg"/>
                    <TechLogoSmall src="../../public/Assets/technologies/firebase.svg"/>
                    <TechLogoSmall src="../../public/Assets/technologies/net.png"/>
                    <TechLogoSmall src="../../public/Assets/technologies/git.svg"/>
            </div>
            
            <p class="text-base font-normal dark:text-white-text  mb-3">• Organize tasks and meetings with the client to determine their main interests, thus improving the 
                management of adoptions and promoting the visibility of animals through a visually friendly interface.</p>
            <p class="text-base font-normal dark:text-white-text  mb-3">• Coding the necessary logic for a catalog with filter by type, contact of interested parties via email, login, 
                maintenance (CRUD) of pets, email history.
                </p>
            <p class="text-base font-normal dark:text-white-text">• Implementation of HTML, CSS, .NET, C#, FireBase, GitHub technologies.</p>
        </li>
        <li class="ms-4">
            <div class="absolute w-3 h-3 bg-gray-400 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none dark:text-gray-500">May 2022 -</time>
            <time class="mb-1 text-sm font-normal leading-none dark:text-gray-500">April 2023</time>

            <div class="flex items-center gap-3">
                <h3 class="text-xl font-semibold text-primary">Marmat Condominiums</h3>
                <TechLogoSmall src="../../public/Assets/technologies/html5.svg"/>
                <TechLogoSmall src="../../public/Assets/technologies/css.svg"/>
                <TechLogoSmall src="../../public/Assets/technologies/javascript.svg"/>
                <TechLogoSmall src="../../public/Assets/technologies/net.png"/>
                <TechLogoSmall src="../../public/Assets/technologies/azure-devops.png"/>
            </div>

            <p class="text-base font-normal dark:text-white-text mb-3">• Plan the application development processes including requirements gathering, client meetings, SRUM 
                methodology and client training</p>
                
            <p class="text-base font-normal dark:text-white-text mb-3">• Develop condominium catalog modules, filter by name and location, email contact form, user login 
                with different roles, maintenance (CRUD) tables, reservation of common areas and alerts for 
                condominium residents</p>
            <p class="text-base font-normal dark:text-white-text">• Implementation of HTML, CSS, .NET, C#, SQL, Azure DevOps, API to interact with the database.</p>
        </li>
    </ol>    
</div>
</section>