<section id="Header" class="w-auto  bg-white dark:bg-background rounded-2xl mt-12 max-md:mt-6 shadow-sectionShadow dark:shadow-dark-sectionShadow">
<div class="flex justify-between  max-md:flex-col-reverse">
    <div class="p-7 w-auto max-md:pt-3">
        <span class="flex">
        <p class="text-4xl mb-4 max-xsm:hidden">Hey! I'am </p> <h1 class="relative text-5xl text-primary font-semibold xsm:top-[-8px] xsm:left-[10px] max-xsm:mb-3 max-[408px]:text-4xl">Alonso Chaves</h1>
    </span>
        <h3 class="text-2xl font-semibold text-primary mb-4 max-[408px]:text-xl">Full Stack Developer</h3>
        <p>Technology enthusiast with a great deal of intellectual curiosity, a desire for growth focused on the technological and professional environment</p>
    </div>
    <div class="w-80  p-3 max-md:w-52 max-md:mx-auto max">
        <img class="h-44 w-44  object-cover  aspect-square   rounded-3xl   shadow-shadow-sm " src="../public/Assets/Alonso.jpg" alt="Alonso's Picture">
    </div>
</div>
</section>