---
import TechLogoMd from "../TechLogoMd.astro";

---



<section id="Technologies" class="w-auto  bg-white dark:bg-background rounded-2xl mt-6 p-5 shadow-sectionShadow dark:shadow-dark-sectionShadow">
    <div>
        <h3 class="text-3xl font-medium mb-4 dark:text-white" >Technologies</h3>
        <h3 class="text-xl font-semibold text-primary ">FrontEnd</h3>
        <div class="grid grid-cols-3 grid-flow-row gap-4 py-4 " >
            <TechLogoMd src="..Assets/technologies/html5.svg" name="HTML"/>
            <TechLogoMd src="..Assets/technologies/css.svg" name="CSS"/>
            <TechLogoMd src="..Assets/technologies/javascript.svg" name="JavaScript"/>
            <TechLogoMd src="..Assets/technologies/react.svg" name="React"/>
            <TechLogoMd src="..Assets/technologies/vue.svg" name="Vue"/>
            <TechLogoMd src="..Assets/technologies/tailwindcss.svg" name="Tailwind"/>
            <TechLogoMd src="..Assets/technologies/bootstrap.svg" name="Bootstrap"/>
            <TechLogoMd src="..Assets/technologies/astro_dark.svg" id="techAstro" name="Astro" />
            <TechLogoMd src="..Assets/technologies/sass.svg" name="SASS"/>
        </div>
        <h3 class="text-xl font-semibold text-primary ">BackEnd</h3>
        <div class="grid grid-cols-3 grid-flow-row gap-4 py-4" >
            <TechLogoMd src="..Assets/technologies/net.png" name=".NET"/>
            <TechLogoMd src="..Assets/technologies/sql.png" name="SQL"/>
            <TechLogoMd src="..Assets/technologies/oracle.png" name="Oracle"/>
            <TechLogoMd src="..Assets/technologies/firebase.svg" name="Firebase"/>
            <TechLogoMd src="..Assets/technologies/cshare.png" name="C#"/>
            <TechLogoMd src="..Assets/technologies/java.svg" name="Java"/>
            
        </div>
        <h3 class="text-xl font-semibold text-primary ">Others</h3>
        <div class="grid grid-cols-3 grid-flow-row gap-4 py-4 " >
            <TechLogoMd src="..Assets/technologies/github.svg" id="imgGit" name="GitHub"/>
            <TechLogoMd src="..Assets/technologies/figma.svg" name="Figma"/>
            <TechLogoMd src="..Assets/technologies/adobe-xd.svg" name="Adobe XD"/>
            <TechLogoMd src="..Assets/technologies/flutterflow.png" name="Flutterflow"/>
            <TechLogoMd src="..Assets/technologies/azure-devops.png" name="Azure Devops"/>
            <TechLogoMd src="..Assets/technologies/jira.svg" name="Jira"/>
        </div>
    </div>
</section>