---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Experience from "../components/Experience.astro";
---

<Layout title="Alonso Chaves Portfolio">
  <div class="max-w-4xl mx-auto dark:text-white-text" >
    <main class="px-4">
		<Header></Header>
    <Experience/>
	</main>
  </div>
</Layout>
