<div class="sticky bottom-40">
    <div id="floatBar" class="flex justify-between w-72 h-10 border-[1px] border-[#161921] rounded-3xl mx-auto cursor-pointer hover:scale-110 transition-transform">
        <div class="flex ml-4 items-center gap-2">
            <div><img class="w-8 h-8 hover:bg-neutral-700" src="../../public/Assets/icons/person.svg" alt=""></div>
            <div><img class="w-8 h-8 hover:bg-neutral-700" src="../../public/Assets/icons/book.svg" alt=""></div>
            <div><img class="w-8 h-8 hover:bg-neutral-700" src="../../public/Assets/icons/projects.svg" alt=""></div>
            <div><img class="w-8 h-8 hover:bg-neutral-700" src="../../public/Assets/icons/react.svg" alt=""></div>
            <div><img class="w-8 h-8 hover:bg-neutral-700" src="../../public/Assets/icons/certificate.svg" alt=""></div>
            <div><img class="w-8 h-8 hover:bg-neutral-700" src="../../public/Assets/icons/mail.svg" alt=""></div>
           
        </div>
        <div class="flex items-center mr-2 pl-1 border-l-[1px] border-[#343841]">
            <div><img class="w-8 h-8 hover:bg-neutral-700" src="../../public/Assets/icons/sun.svg" alt=""></div>
        </div>
    </div>
</div>

<style>
    #floatBar{
        background-color: #13151A;
        opacity: 92%;
        border: 1px solid #343841;
       
    }
</style>
<!-- 
<div class="sticky-footer">
    <p>Este es el pie de página pegajoso.</p>
</div>

<style>
     .sticky-footer {
            position: sticky;
            bottom: 0;
            background-color: #333; /* Puedes cambiar el color de fondo según tus preferencias */
            color: #fff; /* Puedes cambiar el color del texto según tus preferencias */
            padding: 10px;
            text-align: center;
        }
</style> -->