<div class="sticky bottom-10">
    <div class="flex justify-center items-center">

        <div id="floatBar" class="flex justify-center w-72 h-10 border-[1px] border-[#161921] rounded-3xl ml-1/2 cursor-pointer hover:scale-110 transition-transform">
            <div class="flex items-center gap-3">
                
                <a href="#Header" id="aHeader">
                    <div id="divHeader" class="hidden absolute bottom-14 mr-8 bg-[#13151A] rounded-xl"><p class="mx-2 text-white-text">Me</p></div>
                    <div><img class="w-8 h-8 hover:bg-neutral-700 rounded-md" src="../../public/Assets/icons/person.svg" alt=""></div>
                </a>

                <a href="#Experience" id="aExperience">
                    <div id="divExperience" class="hidden absolute bottom-14 bg-[#13151A] rounded-xl"><p class="mx-2 text-white-text">Experience</p></div>
                    <div><img class="w-8 h-8 hover:bg-neutral-700 rounded-md" src="../../public/Assets/icons/book.svg" alt=""></div>
                </a>
                <!-- <a href="#Header" id="aProjects">
                     <div id="divProjects" class="hidden absolute bottom-14 bg-[#13151A] rounded-xl"><p class="mx-2 text-white-text">Projects</p></div>
                    <div><img class="w-8 h-8 hover:bg-neutral-700 rounded-md" src="../../public/Assets/icons/projects.svg" alt=""></div>
                </a> -->
                <a href="#Technologies" id="aTechnologies">
                     <div id="divTechnologies" class="hidden absolute bottom-14 bg-[#13151A] rounded-xl"><p class="mx-2 text-white-text">Technologies</p></div>
                    <div><img class="w-8 h-8 hover:bg-neutral-700 rounded-md" src="../../public/Assets/icons/react.svg" alt=""></div>
                </a>
                <a href="#Education" id="aEducation">
                     <div id="divEducation" class="hidden absolute bottom-14 bg-[#13151A] rounded-xl"><p class="mx-2 text-white-text">Education</p></div>
                    <div><img class="w-8 h-8 hover:bg-neutral-700 rounded-md" src="../../public/Assets/icons/certificate.svg" alt=""></div>
                </a>
                <a href="#Contact" id="aContact">
                     <div id="divContact" class="hidden absolute bottom-14 bg-[#13151A] rounded-xl"><p class="mx-2 text-white-text">Contact</p></div>
                    <div><img class="w-8 h-8 hover:bg-neutral-700 rounded-md" src="../../public/Assets/icons/mailFloatBar.svg" alt="">
                </div></a>
            </div>
            
        </div>
        <div id="themeSwitch" class="flex items-center h-14 w-14 ml-5 justify-center rounded-full hover:scale-110 transition-transform">
            <div><img id="sun" class="w-10 h-10 hover:bg-neutral-700 cursor-pointer rounded-full" src="../../public/Assets/icons/sun.svg" alt="Toogle dark mode"></div>
            <div><img id="moon" class="w-10 h-10 hover:bg-neutral-700 cursor-pointer rounded-full" src="../../public/Assets/icons/moon.svg" alt="Toogle light mode"></div>
        </div>
        
    </div>
</div>

<style>
    #floatBar, #themeSwitch {
        background-color: #13151A;
        opacity: 92%;
        border: 1px solid #343841;     
    }


    #aHeader:hover #divHeader {
      display: block;
    }
    #aExperience:hover #divExperience {
      display: block;
    }
    #aProjects:hover #divProjects {
      display: block;
    }
    #aTechnologies:hover #divTechnologies {
      display: block;
    }
    #aEducation:hover #divEducation {
      display: block;
    }
    #aContact:hover #divContact {
      display: block;
    }
</style>

<script is:inline>
    const sunIcon = document.querySelector('#sun');
    const moonIcon = document.querySelector('#moon');
    const imgGit = document.querySelector('#imgGit');
    const techAstro = document.querySelector('#Astro');
    const techGitHub = document.querySelector('#GitHub');
    

    const userTheme = localStorage.getItem('theme');
    const systemTheme = window.matchMedia('(prefers-color-scheme: dark)').matches

    const iconToggle = () => {
        moonIcon.classList.toggle('hidden');
        sunIcon.classList.toggle('hidden');
    }

    const setDark = () => {
        document.documentElement.classList.add('dark');
        moonIcon.classList.add('hidden');
    }

    const themeCheck = () => {
        if (userTheme === 'dark' || (!userTheme && systemTheme)) {
            document.documentElement.classList.add('dark');
            moonIcon.classList.add('hidden');
            return;
        }
        sunIcon.classList.add('hidden');
    }

    const themeSwitch = () => {
        if (document.documentElement.classList.contains('dark')) {
            document.documentElement.classList.remove('dark');
            localStorage.setItem("theme", "light");
            iconToggle();

            imgGit.src = "../../../public/Assets/technologies/github_light.svg";
            techGitHub.src = "../../../public/Assets/technologies/github_light.svg";
            techAstro.src = "../../public/Assets/technologies/astro_light.svg";
            
            return;
        }
        document.documentElement.classList.add("dark");
        localStorage.setItem("theme", "dark");
        iconToggle();
        imgGit.src = "../../../public/Assets/technologies/github.svg";
        techGitHub.src = "../../../public/Assets/technologies/github.svg";
        techAstro.src = "../../public/Assets/technologies/astro_dark.svg";
    }

    sunIcon.addEventListener('click', ()=> {
        themeSwitch();
    })

    moonIcon.addEventListener('click', ()=> {
        themeSwitch();
    })

    setDark();


    //Names of titles
    const aHeader = document.querySelector('#aHeader');
</script>