<div class="sticky bottom-10">
    <div class="flex justify-center items-center">

        <div id="floatBar" class="flex justify-center w-72 h-10 border-[1px] border-[#161921] rounded-3xl ml-1/2 cursor-pointer hover:scale-110 transition-transform">
            <div class="flex items-center gap-3">
                <a href="#Header"><div><img class="w-8 h-8 hover:bg-neutral-700" src="../../public/Assets/icons/person.svg" alt=""></div></a>
                <a href="#Experience"><div><img class="w-8 h-8 hover:bg-neutral-700" src="../../public/Assets/icons/book.svg" alt=""></div></a>
                <a href="#Header"><div><img class="w-8 h-8 hover:bg-neutral-700" src="../../public/Assets/icons/projects.svg" alt=""></div></a>
                <a href="#Technologies"><div><img class="w-8 h-8 hover:bg-neutral-700" src="../../public/Assets/icons/react.svg" alt=""></div></a>
                <a href="#Header"><div><img class="w-8 h-8 hover:bg-neutral-700" src="../../public/Assets/icons/certificate.svg" alt=""></div></a>
                <a href="#Header"><div><img class="w-8 h-8 hover:bg-neutral-700" src="../../public/Assets/icons/mail.svg" alt=""></div></a>
                
            </div>
            
        </div>
        <div id="themeSwitch" class="flex items-center h-14 w-14 ml-5 justify-center rounded-full hover:scale-110 transition-transform">
            <div><img id="sun" class="w-10 h-10 hover:bg-neutral-700 cursor-pointer" src="../../public/Assets/icons/sun.svg" alt="Toogle dark mode"></div>
            <div><img id="moon" class="w-10 h-10 hover:bg-neutral-700 cursor-pointer" src="../../public/Assets/icons/moon.svg" alt="Toogle light mode"></div>
        </div>
        
    </div>
</div>

<style>
    #floatBar, #themeSwitch {
        background-color: #13151A;
        opacity: 92%;
        border: 1px solid #343841;     
    }
</style>

<script is:inline>
    const sunIcon = document.querySelector('#sun');
    const moonIcon = document.querySelector('#moon');
   
    const userTheme = localStorage.getItem('theme');
    const systemTheme = window.matchMedia('(prefers-color-scheme: dark)').matches

    const iconToggle = () => {
        moonIcon.classList.toggle('hidden');
        sunIcon.classList.toggle('hidden');
    }

    const setDark = () => {
        document.documentElement.classList.add('dark');
        moonIcon.classList.add('hidden');
    }

    const themeCheck = () => {
        if (userTheme === 'dark' || (!userTheme && systemTheme)) {
            document.documentElement.classList.add('dark');
            moonIcon.classList.add('hidden');
            return;
        }
        sunIcon.classList.add('hidden');
    }

    const themeSwitch = () => {
        if (document.documentElement.classList.contains('dark')) {
            document.documentElement.classList.remove('dark');
            localStorage.setItem("theme", "light");
            iconToggle();
            return;
        }
        document.documentElement.classList.add("dark");
        localStorage.setItem("theme", "dark");
        iconToggle();
    }

    sunIcon.addEventListener('click', ()=> {
        themeSwitch();
    })

    moonIcon.addEventListener('click', ()=> {
        themeSwitch();
    })

    themeCheck();
</script>