---
import CourseCertificate from "./CourseCertificate.astro";

---

    <div id="carousel-container">
      <div class="flex justify-center gap-40">
        <button id="prev-btn" class="hover:scale-110 transition-transform" onclick="prev()"><img src="../Assets/icons/arrow-left.svg" alt="Before"></button>
        <button id="next-btn" class="hover:scale-110 transition-transform" onclick="next()"><img src="../Assets/icons/arrow-right.svg" alt="Next"></button>
      </div>
        <div id="carousel">
            <!--HTML CSS -->
            <div class="carousel-item" id="itemHTMLCSS">
                <p class="text-2xl font-semibold text-primary"> HTML and CSS</p>
                <div class="grid grid-cols-3 grid-flow-row gap-4 py-4 " id="gridHTMLCSS">
                    <CourseCertificate src="../Assets/platzi/htmlcss/01-diploma-frontend-developer_page-0001.jpg" name="FrontEnd Developer"/>
                    <CourseCertificate src="../Assets/platzi/htmlcss/02-diploma-frontend-developer-practico_page-0001.jpg" name="Practical FrontEnd Developer"/>
                    <CourseCertificate src="../Assets/platzi/htmlcss/03-diploma-html-css_page-0001.jpg" name="HTML y CSS Definitive"/>
                    <CourseCertificate src="../Assets/platzi/htmlcss/04-diploma-html-practico_page-0001.jpg" name="Practical HTML y CSS"/>
                    <CourseCertificate src="../Assets/platzi/htmlcss/05-diploma-mobile-first_page-0001.jpg" name="Responsive Designe"/>
                    <CourseCertificate src="../Assets/platzi/htmlcss/06-diploma-sass_page-0001.jpg" name="SASS Fundamentals"/>
                    <CourseCertificate src="../Assets/platzi/htmlcss/07-diploma-diseno-programadores_page-0001.jpg" name="Desinge for developers"/>
                    <CourseCertificate src="../Assets/platzi/htmlcss/08-diploma-sistemas-diseno_page-0001.jpg" name="Designe systems"/>
                    <CourseCertificate src="../Assets/platzi/htmlcss/09-diploma-css-grid_page-0001.jpg" name="Basics CSS Grid"/>
                    <CourseCertificate src="../Assets/platzi/htmlcss/10-diploma-practico-css_page-0001.jpg" name="CSS Layout"/>
                    <CourseCertificate src="../Assets/platzi/htmlcss/11-diploma-css-grid-layout_page-0001.jpg" name="CSS Grid Layout"/>
                    <CourseCertificate src="../Assets/platzi/htmlcss/12-diploma-flexbox-css-grid_page-0001.jpg" name="Web Designe with CSS Grid and Flexbox"/>
                    <CourseCertificate src="../Assets/platzi/htmlcss/14-diploma-transformaciones-transiciones-css_page-0001.jpg" name="Transformations and transitions with CSS">
                    <CourseCertificate src="../Assets/platzi/htmlcss/15-diploma-animaciones-css_page-0001.jpg" name="CSS Animations"/>
               </div>
            </div>
            <!--JS -->
            <div class="carousel-item" id="itemJS">
                <p class="text-2xl font-semibold text-primary">JavaScript</p>
                <div class="grid grid-cols-3 grid-flow-row gap-4 py-4 " id="gridJS">
                    <CourseCertificate src="../Assets/platzi/js/01-diploma-basico-javascript_page-0001.jpg" name="Basic Javascript"/>
                    <CourseCertificate src="../Assets/platzi/js/02-diploma-javascript-practico_page-0001.jpg" name="Practical Javascript"/>
                    <CourseCertificate src="../Assets/platzi/js/03-diploma-javascript-practico-matematicas_page-0001.jpg" name="Javascript: Maths and basic stadistic"/>
                    <CourseCertificate src="../Assets/platzi/js/04-diploma-javascript-practico-videojuegos_page-0001.jpg" name="Practical course videogame"/>
                    <CourseCertificate src="../Assets/platzi/js/05-diploma-javascript-closures-scope_page-0001.jpg" name="Closures and Scope"/>
                    <CourseCertificate src="../Assets/platzi/js/06-diploma-ecmascript-6_page-0001.jpg" name="Ecmascript: History and javascript versions"/>
                    <CourseCertificate src="../Assets/platzi/js/07-diploma-javascript-poo_page-0001.jpg" name="Basic: Object-oriented programming with Javascript"/>
                    <CourseCertificate src="../Assets/platzi/js/08-diploma-javascript-poo-intermedio_page-0001.jpg" name="Medium: Object-oriented programming with Javascript"/>
                    <CourseCertificate src="../Assets/platzi/js/09-diploma-arrays_page-0001.jpg" name="Array manipulations with Javascript"/>
                    <CourseCertificate src="../Assets/platzi/js/11-diploma-javascript-clean-code_page-0001.jpg" name="Javascript clean code"/>
                    <CourseCertificate src="../Assets/platzi/js/12-diploma-estructuras-datos_page-0001.jpg" name="Data structure with Javascript"/>
                    <CourseCertificate src="../Assets/platzi/js/13-diploma-complejidad-js_page-0001.jpg" name="Algorithmic complexity with Javascript"/>
                    <CourseCertificate src="../Assets/platzi/js/14-diploma-devtools_page-0001.jpg" name="Debuggin with DevTools"/>
                    <CourseCertificate src="../Assets/platzi/js/15-diploma-javascript-navegador_page-0001.jpg" name="Javascript Engine (V8)"/>
                    <CourseCertificate src="../Assets/platzi/js/16-diploma-asincronismo-js_page-0001.jpg" name="Asynchronous with JavaScript"/>
                    <CourseCertificate src="../Assets/platzi/js/17-diploma-api_page-0001.jpg" name="API Rest With Javascript"/>
                    <CourseCertificate src="../Assets/platzi/js/18-diploma-api-practico_page-0001.jpg" name="Practical API Rest With Javascript"/>
                    <CourseCertificate src="../Assets/platzi/js/19-diploma-api-profesional_page-0001.jpg" name="Professional API Rest With Javascript"/>
                    <CourseCertificate src="../Assets/platzi/js/20-diploma-animaciones-css-practico_page-0001.jpg" name="Animations with CSS and JavaScript"/>
                    <CourseCertificate src="../Assets/platzi/js/diploma-dom_page-0001.jpg" name="DOM Manipulation"/>
               </div>
            </div>
            <!--React -->
            <div class="carousel-item " id="itemReact">
              <p class="text-2xl font-semibold text-primary">React Js</p>
              <div class="grid grid-cols-3 grid-flow-row gap-4 py-4 " id="gridReact">
                  <CourseCertificate src="../Assets/platzi/react/01-diploma-react_compressed-1.jpg" name="React JS"/>
                  <CourseCertificate src="../Assets/platzi/react/02-diploma-react-vite-tailwindcss_compressed-1.jpg" name="React with Vitejs and TailwindCSS"/>
                  <CourseCertificate src="../Assets/platzi/react/03-diploma-react-patrones-render_compressed-1.jpg" name="Render patterns and composition"/>
                  <CourseCertificate src="../Assets/platzi/react/04-diploma-react-estado_compressed-1.jpg" name="Professional management of the state"/>
                  <CourseCertificate src="../Assets/platzi/react/05-diploma-react-router_page-0001.jpg" name="React Router DOM"/>
                  <CourseCertificate src="../Assets/platzi/react/06-diploma-react-redux-profesional_page-0001.jpg" name="React Redux"/>
              </div>
          </div>
            <!--Vue -->
            <div class="carousel-item " id="itemOthers">
              <p class="text-2xl font-semibold text-primary">Others</p>
              <div class="grid grid-cols-3 grid-flow-row gap-4 py-4 " id="gridVue" >
                  <CourseCertificate src="../Assets/platzi/others/01-diploma-vuejs_page-0001.jpg" name="(Vue.js) Introduction and fundamentals" imgTech="../Assets/technologies/vue.svg"/>
                  <CourseCertificate src="../Assets/platzi/others/02-diploma-vuejs-componentes-composition_page-0001.jpg" name="(Vue.js) Components and Composition API" imgTech="../Assets/technologies/vue.svg"/>
                  <CourseCertificate src="../Assets/platzi/others/03-diploma-vue-router_page.jpg" name="(Vue.js) Vue Router" imgTech="../Assets/technologies/vue.svg"/>
                  <CourseCertificate src="../Assets/platzi/others/diploma-typescript-01_page-0001.jpg" name="(TypeScript) TypeScript Fundamentals" imgTech="../Assets/technologies/typescript.svg"/>
                  <CourseCertificate src="../Assets/platzi/others/diploma-typescript-02-tipos-avanzados_page-0001.jpg" name="(TypeScript) Advanced types and functions" imgTech="../Assets/technologies/typescript.svg"/>
                  <CourseCertificate src="../Assets/platzi/others/diploma-git-github_page-0001.jpg" name="Git and GitHub" imgTech="../Assets/technologies/github.svg"/>
                  <CourseCertificate src="../Assets/platzi/others/diploma-chatgpt_page-0001.jpg" name="Promtp Engineering with Chat GPT" imgTech="../Assets/technologies/openAILogo_dark.svg"/>
                </div>
          </div>

    </div>
</div>
<script is:inline>
  // JavaScript para controlar el carrusel
  const carousel = document.getElementById('carousel');

  const gridHTMLCSS = document.getElementById('gridHTMLCSS');
  const gridJS = document.getElementById('gridJS');
  const gridReact = document.getElementById('gridReact');
  const gridOthers = document.getElementById('itemOthers');


  
    let currentIndex = 0;

    function showItem(index) {
      const itemWidth = document.querySelector('.carousel-item').offsetWidth;
      const newPosition = -index * itemWidth;
      carousel.style.transform = `translateX(${newPosition}px)`;
      currentIndex = index;

      console.log(currentIndex);
      if (currentIndex == 0) {
        
        carousel.style.height = gridHTMLCSS.offsetHeight + 45 + "px";
      }
      if (currentIndex == 1) {
        carousel.style.height = gridJS.offsetHeight + 45 + "px";
      }
      if (currentIndex == 2) {
        carousel.style.height = gridReact.offsetHeight + 45 + "px";
      }
      if (currentIndex == 3) {
        carousel.style.height = gridOthers.offsetHeight + 300 + "px";
      }
    }

    function next() {
      currentIndex = (currentIndex + 1) % document.querySelectorAll('.carousel-item').length;
      showItem(currentIndex);
    }

    function prev() {
      currentIndex = (currentIndex - 1 + document.querySelectorAll('.carousel-item').length) % document.querySelectorAll('.carousel-item').length;
      showItem(currentIndex);
    }

    function size() {
      carousel.style.height = gridHTMLCSS.offsetHeight + 45 +"px";
    }

    setTimeout(size, 900);

  </script>

<style>
   #carousel-container {
      overflow: hidden;
      margin: 20px auto;
      position: relative;
    }

    #carousel {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }

    .carousel-item {
      min-width: 100%;
      box-sizing: border-box;
      padding: 10px;
      text-align: center;
    }

    /* #prev-btn,
    #next-btn {

      top: 50%;
      transform: translateY(-50%);
      font-size: 24px;
      cursor: pointer;
      background-color: #3498db;
      color: #fff;
      border: none;
      padding: 10px;
      border-radius: 5px;
      outline: none;
    }

    #prev-btn {
      left: 10px;
    }

    #next-btn {
      right: 10px;
    } */
</style>
